# Ignore files with the following extensions:
*.jpeg
.env
.venv/
*.wav
*.png

# Ignore crops temporal folder
/CUA/tools/tempcrops
/logs

# Ignore specific Python files
mouse_move.py
pruebas.py

# Ignore pycache
__pycache__/

# Ignore Florence2 model file
CUA/tools/Florence2/model.safetensors
